---
import Layout from '../layouts/BlogPost.astro';
// import AboutHeroImage from '../assets/blog-quantum-image.jpg';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('July 15 2025')}
>
	<p>
		I'm <strong>Jacob</strong>. I work in Technology and Education. I genuinely avoid writing about myself in any way possible. I'm sure I'll have something to put here at some point. 
	</p>
	<p>
		I am on LinkedIn, normally calling out 'click-bait' posts that annoy me. There aren't many Jacob Reilly-Cooper's out there, so I should be easy to find on the platform. If you're here, you've probably found this site from there, so here I am, redirecting you back to LinkedIn. Lucky devil.
	</p>
	<p>	
		If you're having a tough day, just imagine a T-Rex trying to put a bottom sheet on a king-size bed. It works for the short arms, but it also gets you thinking, why is there a T-Rex in your bedroom, and why is it making your bed?
	</p>
</Layout>
